<div class="menu_content container">
    <h1>お問い合わせフォーム</h1>
    <h2>お問い合わせの前に・・・</h2>
    <p>お問い合わせいただく前に、<a href="/menu/help">ヘルプ</a>や<a href="/menu/rule">利用規約</a>などもご一読ください。</p>
    <p>個人的な質問等に関しては一切受け付けておりません。</p>
    <p>お仕事のご依頼やバグ報告、改善案のみ返答させていただきます。</p>
    <p>メールよりもTwitterの方がレスポンス早いので、TwitteerでDMをください。</p>

    <hr>

    <div class="dm_zone">
        <a href="https://twitter.com/yowsa823" class="btn-social-long-twitter">
            <i class="fab fa-twitter"></i>　DMで問い合わせる
        </a>
    </div>
</div>