<div class="menu_content container">
    <h1>Mathmateの利用規約</h1>

    <h2>1. 本サービスのご利用にあたって</h2>
    <div class="list_raw">
        <ul>
            <li>本サービスのご利用にあたっては、利用者のモラルに任せております。他人に不快な思いをさせない利用を心がけてください。</li>
            <li>下記環境下で動作確認を行っておりますが、全ての閲覧環境での100％の動作保証はできません。特にIEやEdgeは対象外としておりますので、ご利用の際はご注意ください。</li>
        </ul>
        <table style="border-collapse: collapse; width: 100%;" border="1">
            <tbody>
                <tr>
                    <td style="width: 50%;">ブラウザ</td>
                    <td style="width: 50%;">
                        <p>Chrome</p>
                        <p>Safari</p>
                        <p>FireFox</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%;">OS</td>
                    <td style="width: 50%;">
                        <p>iOS12〜</p>
                        <p>Android 9〜</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="announce">上記バージョン以下では確認を行なっておりません。また、旧Android端末に搭載されていた標準ブラウザでは一部動作しない可能性もございます。加えて、iPhone SE（初代）モデル以下の画面サイズでは正常に画面表示されない可能性もございます。ご了承ください。</div>


    <h2>2. 権利</h2>
    <div class="list_raw">
        <ul>
            <li>本サービスの権利については、加工の有無を問わず制作者に帰属します。本サービス内のファイルを含む商品の販売および再配布は禁止しております。</li>
            <li>投稿された内容や画像の権利については、投稿者様に帰属します。</li>
            <li>利用規約に反した投稿やコメントがなされた場合、投稿者の許可なく製作者が削除することがございます。</li>
        </ul>
    </div>
    <h2>3. プライバシーポリシー</h2>
    <div class="list_raw">
        <ul>
            <li>投稿された記事、登録されたアカウント等、ユーザーが登録した情報については、製作者は一切の利用を致しません。</li>
            <li>メールアドレスはログイン認証のため、登録させていただきます。それ以外の利用はございません。</li>
            <li>本サービスは個人情報が極力不要なよう設計されています。利用者は投稿やコメント等に、それらを記載されませんようご注意ください。</li>
        </ul>
    </div>
    <h2>4. 免責事項</h2>
    <div class="list_raw">
        <ul>
            <li>本サービスの利用によって生じたいかなる損害やトラブルについて、当方は一切の責任を負いません。</li>
            <li>ご利用の端末で動作確認を行なってからご利用頂くようお願い致します。</li>
            <li>動作環境にてバグが発見された場合には修正に努めますが、全ての不具合への対応を保証することはできません。</li>
            <li>本規約は予告無く変更される場合があります。予めご了承頂きますようお願い致します。</li>
        </ul>
    </div>
</div>