<div class="card mx-auto border-primary my-auto">
    <div class="card-body">
        <h5 class="card-title my-3m text-primary">あなたの知識を共有しませんか？</h5>
        <h6 class="card-subtitle mt-4 ml-4 text-muted">⒈キレイな数式が書ける</h6>
        <p class="card-text ml-4">LaTexや数式挿入ボタンで簡単に数式を記述できます。読みやすく伝わりやすい。だから答えも返ってきやすい！</p>
        <h6 class="card-subtitle mt-4 ml-4 text-muted">⒉『ストック』で何度でも</h6>
        <p class="card-text ml-4">自分も気になる質問や、驚きがあった記事はマイページに保存しておくことが可能です。復習したいときに、何度でも、すぐに確認できます。</p>
        <div class="mx-5">
            <%= link_to "登録", new_user_registration_path, class:"mt-3 px-5 btn btn-primary px-auto shadow"%>
            <%= link_to "ログイン", new_user_session_path, class: "mt-3 px-5 login btn btn-outline-primary px-auto shadow"%>
        </div>
    </div>
</div>